Repository Chainlit/chainlit, pull requests merged in 2024-10, with the labels that each got.

#1362 Fix auto login
  backend/chainlit/oauth_providers.py
  frontend/src/components/molecules/auth/AuthLogin.tsx
Labels: evaluate-with-priority, size:S

#1376 Bump LiteralAI version
  backend/chainlit/data/literalai.py
  backend/chainlit/element.py
  backend/chainlit/langchain/callbacks.py
  backend/chainlit/message.py
  backend/chainlit/step.py
  backend/poetry.lock
  backend/pyproject.toml
  backend/tests/conftest.py
  backend/tests/data/conftest.py
  backend/tests/data/test_literalai.py
  backend/tests/data/test_sql_alchemy.py
Labels: backend, review-me, size:XXL, unit-tests

#1392 Release prep for 1.3.0rc0
  CHANGELOG.md
  backend/pyproject.toml
Labels: backend, size:M

#1410 Changelog for realtime
  CHANGELOG.md
  backend/pyproject.toml
Labels: backend, size:M

#1403 feat: include URL location in copilot mode when sending a message
  backend/chainlit/message.py
  libs/copilot/src/components/InputBox.tsx
  libs/react-client/src/types/step.ts
Labels: frontend, backend, size:XS

#1414 Address various NPM security vulnerabilities
  frontend/package.json
  frontend/pnpm-lock.yaml
  libs/copilot/package.json
  libs/copilot/pnpm-lock.yaml
  libs/react-client/package.json
  libs/react-client/pnpm-lock.yaml
Labels: security, size:M

#1418 Allow spaces in avatar filenames. Fixes #1370.
  backend/chainlit/server.py
  backend/tests/test_server.py
Labels: backend, size:S

#1409 fix: step arg input and concurrency
  backend/chainlit/context.py
  backend/chainlit/openai/__init__.py
  backend/chainlit/step.py
  backend/tests/test_context.py
Labels: bug, backend, size:M

#1402 feat: improve UX when loading images
  frontend/src/components/atoms/elements/Image.tsx
Labels: frontend, size:M

#1399 Update server.py to accept local languages such as es-419
  backend/chainlit/server.py
  backend/tests/test_server.py
Labels: backend, size:S

#1413 Correct/extend package metadata
  backend/pyproject.toml
Labels: backend, review-me, size:S

#1363 solving issue #1355 - Mixed dependencies in the Storage Clients module for the Data Layer
  backend/chainlit/data/base.py
  backend/chainlit/data/dynamodb.py
  backend/chainlit/data/sql_alchemy.py
  backend/chainlit/data/storage_clients/__init__.py
  backend/chainlit/data/storage_clients/azure.py
  backend/chainlit/data/storage_clients/base.py
  backend/chainlit/data/storage_clients/s3.py
  backend/poetry.lock
  backend/pyproject.toml
  backend/tests/data/conftest.py
  backend/tests/data/storage_clients/test_s3.py
  backend/tests/data/test_sql_alchemy.py
  cypress/e2e/custom_data_layer/sql_alchemy.py
Labels: evaluate-with-priority, size:L

#1379 feat: chainlit option to require websocket
  libs/react-client/README.md
  libs/react-client/src/useChatSession.ts
Labels: bug, frontend, size:M

#1433 Fix tasklist when chainlit is submounted. Closes #1400.
  frontend/src/components/molecules/tasklist/TaskList.tsx
Labels: frontend, review-me, size:XS

#1432 Fixes from EWouters:python-fixes-2 minus formatting
  backend/chainlit/auth.py
  backend/chainlit/cache.py
  backend/chainlit/cli/__init__.py
  backend/chainlit/context.py
  backend/chainlit/discord/__init__.py
  backend/chainlit/server.py
  backend/chainlit/slack/__init__.py
  backend/chainlit/step.py
  backend/chainlit/teams/__init__.py
  backend/tests/test_callbacks.py
  cypress/e2e/action/main.py
Labels: backend, review-me, size:M

#1441 Test and resolve issue with get_file and upload_file
  backend/chainlit/server.py
  backend/tests/conftest.py
  backend/tests/test_server.py
Labels: bug, backend, security, review-me, size:L

#1423 Allow installing directly from GH
  .github/CONTRIBUTING.md
  .github/workflows/e2e-tests.yaml
  .github/workflows/mypy.yaml
  .github/workflows/pytest.yaml
  .gitignore
  README.md
  backend/README.md
  backend/build.py
  backend/pyproject.toml
  frontend/package.json
Labels: frontend, backend, dev-tooling, review-me, size:L

#1431 Various security patches
  backend/poetry.lock
  backend/pyproject.toml
  package.json
  pnpm-lock.yaml
Labels: backend, security, review-me, size:XS

#1425 fix: persisted user display name
  backend/chainlit/auth.py
Labels: auth, backend, size:XS

#1446 fix:dialog boxes extending beyond the window
  frontend/src/components/molecules/messages/Message.tsx
Labels: bug, frontend, size:XS

#1445 Unbreak the build
  .github/actions/pnpm-node-install/action.yaml
  .github/actions/poetry-python-install/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/e2e-tests.yaml
  .github/workflows/lint-ui.yaml
  .github/workflows/mypy.yaml
  .github/workflows/publish.yaml
  .github/workflows/pytest.yaml
  backend/build.py
  backend/chainlit/config.py
  backend/chainlit/version.py
Labels: dev-tooling, review-me, size:M

#1032 feat: Add configurable user_session_timeout
  backend/chainlit/auth.py
  backend/chainlit/config.py
Labels: enhancement, backend, size:XS

#1456 OAuth prompt configurable through environment
  backend/chainlit/oauth_providers.py
Labels: auth, size:M

#1455 Release prep 2.0.dev1
  CHANGELOG.md
  backend/pyproject.toml
Labels: size:L

#1474 HOT FIX - Fixes Elements by reverting bug in #1441
  backend/chainlit/server.py
Labels: bug, backend, size:S

#1483 Release prep for 1.3.1
  CHANGELOG.md
  backend/chainlit/server.py
  backend/pyproject.toml
Labels: size:L

#1470 Remove space in license string.
  backend/pyproject.toml
Labels: size:XS

#1482 Dokterbob/release prep 1.3.1
  CHANGELOG.md
  backend/pyproject.toml
Labels: size:M

#1462 Build fixups
  .github/workflows/ci.yaml
  .github/workflows/publish.yaml
  backend/README.md
  package.json
Labels: size:S

#1467 Auto-fit cl.Dataframe() to content
  frontend/src/components/atoms/elements/InlinedDataframeList.tsx
Labels: frontend, size:XS
