Repository Chainlit/chainlit, pull requests merged in 2024-12, with the labels that each got.

#1554 Create nl-NL.json
  backend/chainlit/translations/nl-NL.json
Labels: size:L

#1459 fix(file_upload): validate mimetype as configured
  backend/chainlit/server.py
  backend/tests/test_server.py
Labels: evaluate-with-priority, backend, security, size:L, unit-tests, blocked

#1564 Fix forward annotations evaluation issue in `chainlit.config`
  backend/chainlit/config.py
Labels: backend, size:XS

#1568 Import `Field` from `pydantic` instead of `pydantic.dataclasses`
  backend/chainlit/action.py
  backend/chainlit/chat_settings.py
  backend/chainlit/config.py
  backend/chainlit/element.py
  backend/chainlit/input_widget.py
  backend/chainlit/user.py
Labels: backend, size:S

#1575 fix: pass headers when connecting sockets
  backend/chainlit/config.py
  backend/chainlit/server.py
  backend/chainlit/socket.py
  cypress/e2e/copilot/.chainlit/config.toml
  frontend/src/App.tsx
  libs/copilot/src/chat/index.tsx
  libs/react-client/src/useChatSession.ts
Labels: size:M

#1521 Cookie-based auth
  .github/CONTRIBUTING.md
  .github/workflows/lint-backend.yaml
  backend/chainlit/auth/__init__.py
  backend/chainlit/auth/cookie.py
  backend/chainlit/auth/jwt.py
  backend/chainlit/cli/__init__.py
  backend/chainlit/config.py
  backend/chainlit/server.py
  backend/chainlit/socket.py
  backend/poetry.lock
  backend/pyproject.toml
  cypress/e2e/header_auth/spec.cy.ts
  cypress/e2e/password_auth/spec.cy.ts
  cypress/e2e/readme/main.py
  cypress/support/utils.ts
  frontend/src/components/molecules/auth/AuthLogin.tsx
  frontend/src/components/organisms/sidebar/index.tsx
  frontend/src/pages/AuthCallback.tsx
  frontend/src/pages/Login.tsx
  frontend/src/pages/Page.tsx
  libs/react-client/src/api/hooks/api.ts
  libs/react-client/src/api/hooks/auth.ts
  libs/react-client/src/api/hooks/auth/index.ts
  libs/react-client/src/api/index.tsx
  libs/react-client/src/auth/config.ts
  libs/react-client/src/auth/session.ts
  libs/react-client/src/auth/token.ts
  libs/react-client/src/auth/types.ts
  libs/react-client/src/auth/user.ts
  libs/react-client/src/types/config.ts
  libs/react-client/src/utils/token.ts
  package.json
Labels: auth, review-me, size:XXL

#1593 Willy/UI
  libs/react-client/src/api/hooks/auth/config.ts
  libs/react-client/src/api/hooks/auth/index.ts
  libs/react-client/src/api/hooks/auth/sessionManagement.ts
  libs/react-client/src/api/hooks/auth/state.ts
  libs/react-client/src/api/hooks/auth/tokenManagement.ts
  libs/react-client/src/api/hooks/auth/types.ts
  libs/react-client/src/api/hooks/auth/userManagement.ts
  libs/react-client/src/api/index.tsx
  libs/react-client/src/auth/config.ts
  libs/react-client/src/auth/session.ts
  libs/react-client/src/auth/token.ts
  libs/react-client/src/auth/user.ts
  libs/react-client/src/utils/token.ts
Labels: frontend, auth, size:L

#1595 chore: prepare release
  backend/pyproject.toml
  frontend/src/components/organisms/sidebar/index.tsx
Labels: size:XS

#1600 chore: bump react client version
  cypress/e2e/header_auth/spec.cy.ts
  libs/react-client/package.json
Labels: size:S
