Repository Chainlit/chainlit, pull requests merged in 2025-01, with the labels that each got.

#1621 Hugues/data layer
  backend/chainlit/data/__init__.py
  backend/chainlit/data/chainlit_data_layer.py
  backend/chainlit/data/storage_clients/azure_blob.py
  backend/chainlit/data/storage_clients/base.py
  backend/chainlit/data/storage_clients/gcs.py
  backend/chainlit/data/storage_clients/s3.py
  backend/poetry.lock
  backend/pyproject.toml
Labels: data layer, backend, size:XL

#1632 fix: raw block code
  backend/chainlit/translations/en-US.json
  frontend/src/components/AutoResizeTextarea.tsx
  frontend/src/components/CodeSnippet.tsx
  frontend/src/components/chat/MessageComposer/index.tsx
Labels: size:S

#1633 fix: remove numpy
  backend/poetry.lock
  backend/pyproject.toml
Labels: backend, size:XS

#1634 fix: remove time.sleep
  backend/chainlit/message.py
  backend/chainlit/socket.py
  backend/chainlit/step.py
Labels: size:XS

#1643 fix: text input value should update
  frontend/src/components/ChatSettings/TextInput.tsx
Labels: bug, frontend, size:XS

#1644 fix: attachment should not show if not enabled
  frontend/src/components/chat/MessageComposer/UploadButton.tsx
Labels: frontend, size:XS

#1645 feat: add function on window to toggle the copilot
  libs/copilot/index.tsx
  libs/copilot/src/app.tsx
  libs/copilot/src/widget.tsx
Labels: enhancement, size:S

#1646 feat: display chat profile icon/description is available instead of t…
  frontend/src/components/chat/MessageComposer/index.tsx
  frontend/src/components/chat/WelcomeScreen.tsx
Labels: frontend, size:M

#1647 fix: actions should trigger first_interaction
  backend/chainlit/server.py
Labels: bug, size:XS

#1648 chore: debug ci
  backend/chainlit/message.py
  backend/chainlit/socket.py
  backend/chainlit/step.py
  frontend/src/components/chat/Messages/Message/Step.tsx
  frontend/src/index.css
  libs/copilot/src/index.css
  libs/react-client/src/useChatSession.ts
Labels: size:M

#1650 chore: prepare release
  CHANGELOG.md
  backend/pyproject.toml
Labels: size:S

#1660 feat: Allow HTML for markdown_description in Welcome Screen
  frontend/src/components/chat/WelcomeScreen.tsx
Labels: frontend, size:XS

#1666 fix: update thread batch size to BATCH_SIZE to ensure scroll on large…
  frontend/src/components/LeftSidebar/ThreadHistory.tsx
Labels: bug, frontend, size:XS

#1667 fix: make chat settings modal scroll if too tall
  frontend/src/components/ChatSettings/index.tsx
Labels: bug, frontend, size:S

#1671 fix: gracefully handle thread resume error
  backend/chainlit/auth/jwt.py
  backend/chainlit/emitter.py
  backend/chainlit/socket.py
  cypress/e2e/data_layer/spec.cy.ts
  frontend/src/components/AutoResumeThread.tsx
  frontend/src/components/ReadOnlyThread.tsx
  libs/react-client/src/state.ts
  libs/react-client/src/useChatSession.ts
Labels: bug, frontend, backend, size:M

#1672 fix: only use credentials include for chainlit requestsC
  frontend/src/hooks/useFetch.tsx
Labels: frontend, size:M

#1668 fix: allow AskFileMessage even if spontaneous uploads are disabled
  .github/workflows/lint-backend.yaml
  backend/chainlit/auth/cookie.py
  backend/chainlit/data/chainlit_data_layer.py
  backend/chainlit/message.py
  backend/chainlit/server.py
  backend/poetry.lock
  backend/pyproject.toml
  backend/tests/test_server.py
Labels: bug, size:L

#1653 feat: add http_cookie to WebsocketSession and UserSession
  backend/chainlit/session.py
  backend/chainlit/socket.py
  backend/chainlit/user_session.py
  backend/tests/conftest.py
  backend/tests/test_user_session.py
Labels: enhancement, backend, size:S

#1674 chore: prepare release
  CHANGELOG.md
  backend/pyproject.toml
  cypress/e2e/data_layer/spec.cy.ts
  cypress/e2e/header_auth/main.py
  cypress/e2e/header_auth/spec.cy.ts
  libs/react-client/README.md
  libs/react-client/package.json
Labels: size:M

#1670 fix: data layers
  CHANGELOG.md
  backend/chainlit/data/chainlit_data_layer.py
  backend/chainlit/data/sql_alchemy.py
  backend/chainlit/data/storage_clients/azure_blob.py
  backend/chainlit/data/storage_clients/base.py
  backend/chainlit/data/storage_clients/gcs.py
  backend/chainlit/data/storage_clients/s3.py
Labels: data layer, size:L

#1686 fix: element.update
  backend/chainlit/element.py
  backend/chainlit/server.py
  frontend/src/components/Elements/CustomElement/Imports.ts
Labels: backend, size:S

#1691 fix: don't auth until ready
  frontend/src/App.tsx
Labels: frontend, auth, size:XS

#1657 feat: add translation on copy bottun
  backend/chainlit/translations/bn.json
  backend/chainlit/translations/en-US.json
  backend/chainlit/translations/gu.json
  backend/chainlit/translations/he-IL.json
  backend/chainlit/translations/hi.json
  backend/chainlit/translations/kn.json
  backend/chainlit/translations/ml.json
  backend/chainlit/translations/mr.json
  backend/chainlit/translations/nl-NL.json
  backend/chainlit/translations/ta.json
  backend/chainlit/translations/te.json
  backend/chainlit/translations/zh-CN.json
  frontend/src/components/CopyButton.tsx
Labels: frontend, size:M

#1693 fix: bad type conversion
  backend/chainlit/data/literalai.py
  backend/tests/data/test_literalai.py
Labels: size:S

#1705 chore: bump and changelog
  CHANGELOG.md
  backend/pyproject.toml
Labels: size:S

#1715 docs: improve MIME types configuration guide
  backend/chainlit/config.py
Labels: size:XS

#1714 Update zh-CN.json
  backend/chainlit/translations/zh-CN.json
Labels: size:XS

#1718 fix: only make the body of chat settings modal scroll
  frontend/src/components/ChatSettings/index.tsx
  frontend/src/components/CopyButton.tsx
Labels: frontend, size:M

#1719 fix: linting
  backend/chainlit/config.py
Labels: size:XS

#1701 Feat/add translation on feedback
  backend/chainlit/translations/bn.json
  backend/chainlit/translations/en-US.json
  backend/chainlit/translations/gu.json
  backend/chainlit/translations/he-IL.json
  backend/chainlit/translations/hi.json
  backend/chainlit/translations/kn.json
  backend/chainlit/translations/ml.json
  backend/chainlit/translations/mr.json
  backend/chainlit/translations/nl-NL.json
  backend/chainlit/translations/ta.json
  backend/chainlit/translations/te.json
  backend/chainlit/translations/zh-CN.json
  frontend/src/components/chat/Messages/Message/Buttons/FeedbackButtons.tsx
Labels: frontend, size:L, translation

#1721 fix: store show input as string
  backend/chainlit/data/chainlit_data_layer.py
Labels: data layer, size:XS

#1720 add json file to translate into japanese
  backend/chainlit/translations/ja.json
Labels: size:L

#1722 feat: improve element ref styling
  frontend/src/components/Elements/ElementRef.tsx
Labels: frontend, size:XS

#1717 fix: use config value for cookie max age
  backend/chainlit/auth/cookie.py
Labels: auth, size:XS

#1727 fix: match file id with element id
  backend/chainlit/emitter.py
  frontend/src/components/chat/Messages/Message/AskFileButton.tsx
Labels: bug, frontend, backend, size:XS

#1732 fix: optimize thread date grouping logic
  libs/react-client/src/utils/group.ts
Labels: size:M

#1733 fix: limit thread name
  backend/chainlit/data/chainlit_data_layer.py
Labels: bug, data layer, size:S

#1703 fix: frontend build failures (closes #1702)
  frontend/tailwind.config.js
Labels: frontend, review-me, size:L

#1729 Add i18n Support for Chat Components
  backend/chainlit/translations/en-US.json
  cypress/e2e/data_layer/spec.cy.ts
  frontend/src/components/LeftSidebar/ThreadList.tsx
  frontend/src/components/chat/Messages/Message/AskFileButton.tsx
  frontend/src/components/header/NewChat.tsx
Labels: evaluate-with-priority, frontend, size:L

#1734 chore: prepare release
  CHANGELOG.md
  backend/chainlit/version.py
  backend/pyproject.toml
Labels: size:S

#1738 fix translator path in ThreadList.tsx
  frontend/src/components/LeftSidebar/ThreadList.tsx
  frontend/src/components/chat/Messages/Message/AskFileButton.tsx
Labels: frontend, size:M

#1739 fix: uvicorn version constraint
  backend/poetry.lock
  backend/pyproject.toml
Labels: backend, size:XS

#1750 chore: update element.py
  backend/chainlit/element.py
Labels: size:XS

#1753 fix: JSX Compatibility for SVG Attribute
  frontend/src/components/icons/PaperClip.tsx
  frontend/src/components/icons/Pencil.tsx
  frontend/src/components/icons/Search.tsx
  frontend/src/components/icons/Send.tsx
  frontend/src/components/icons/Settings.tsx
  frontend/src/components/icons/Sidebar.tsx
Labels: frontend, size:S

#1744 Willy/commands
  backend/chainlit/emitter.py
  backend/chainlit/message.py
  backend/chainlit/step.py
  backend/chainlit/types.py
  cypress/e2e/command/main.py
  cypress/e2e/command/spec.cy.ts
  frontend/src/components/chat/MessageComposer/Attachments.tsx
  frontend/src/components/chat/MessageComposer/CommandButton.tsx
  frontend/src/components/chat/MessageComposer/Input.tsx
  frontend/src/components/chat/MessageComposer/index.tsx
  frontend/src/components/chat/Messages/Message/AskFileButton.tsx
  frontend/src/components/chat/Messages/Message/UserMessage.tsx
  frontend/src/components/icons/ToolBox.tsx
  libs/react-client/src/state.ts
  libs/react-client/src/types/command.ts
  libs/react-client/src/types/index.ts
  libs/react-client/src/types/step.ts
  libs/react-client/src/useChatSession.ts
  libs/react-client/src/utils/group.ts
Labels: frontend, backend, size:XL

#1757 fix: update file upload MIME types to use standard format
  frontend/src/components/chat/index.tsx
Labels: frontend, size:S, blocked

#1760 fix: simplify translation files
  backend/chainlit/translations/bn.json
  backend/chainlit/translations/en-US.json
  backend/chainlit/translations/gu.json
  backend/chainlit/translations/he-IL.json
  backend/chainlit/translations/hi.json
  backend/chainlit/translations/ja.json
  backend/chainlit/translations/kn.json
  backend/chainlit/translations/ml.json
  backend/chainlit/translations/mr.json
  backend/chainlit/translations/nl-NL.json
  backend/chainlit/translations/ta.json
  backend/chainlit/translations/te.json
  backend/chainlit/translations/zh-CN.json
  frontend/src/components/ChatSettings/index.tsx
  frontend/src/components/CopyButton.tsx
  frontend/src/components/LeftSidebar/Search.tsx
  frontend/src/components/LeftSidebar/ThreadList.tsx
  frontend/src/components/LoginForm.tsx
  frontend/src/components/ProviderButton.tsx
  frontend/src/components/ReadOnlyThread.tsx
  frontend/src/components/WaterMark.tsx
  frontend/src/components/chat/MessageComposer/SubmitButton.tsx
  frontend/src/components/chat/MessageComposer/UploadButton.tsx
  frontend/src/components/chat/MessageComposer/VoiceButton.tsx
  frontend/src/components/chat/MessageComposer/index.tsx
  frontend/src/components/chat/Messages/Message/AskFileButton.tsx
  frontend/src/components/chat/Messages/Message/Buttons/FeedbackButtons.tsx
  frontend/src/components/chat/Messages/Message/Step.tsx
  frontend/src/components/chat/Messages/Message/UserMessage.tsx
  frontend/src/components/chat/MessagesContainer/index.tsx
  frontend/src/components/chat/index.tsx
  frontend/src/components/header/ApiKeys.tsx
  frontend/src/components/header/NewChat.tsx
  frontend/src/components/header/Readme.tsx
  frontend/src/components/header/SidebarTrigger.tsx
  frontend/src/pages/Env.tsx
  libs/copilot/src/chat/body.tsx
Labels: frontend, size:XXL

#1762 feat(i18n): Add translations for thread menu options
  backend/chainlit/translations/bn.json
  backend/chainlit/translations/en-US.json
  backend/chainlit/translations/gu.json
  backend/chainlit/translations/he-IL.json
  backend/chainlit/translations/hi.json
  backend/chainlit/translations/ja.json
  backend/chainlit/translations/kn.json
  backend/chainlit/translations/ml.json
  backend/chainlit/translations/mr.json
  backend/chainlit/translations/nl-NL.json
  backend/chainlit/translations/ta.json
  backend/chainlit/translations/te.json
  backend/chainlit/translations/zh-CN.json
  frontend/src/components/LeftSidebar/ThreadOptions.tsx
Labels: enhancement, frontend, size:M

#1765 chore: prepare release
  CHANGELOG.md
  backend/chainlit/version.py
  backend/pyproject.toml
Labels: size:S

#1723 Use asgi root path to handle mount point
  backend/chainlit/cli/__init__.py
  backend/chainlit/server.py
  backend/chainlit/utils.py
Labels: evaluate-with-priority, backend, size:M

#1768 Increase Cypress E2E test timeout
  cypress.config.ts
Labels: size:XS

#1609 feat: source maps
  frontend/vite.config.ts
  libs/copilot/tsconfig.json
  libs/react-client/tsconfig.json
Labels: frontend, size:XS

#1782 Fix required status checks on CI / enable merge queue
  .github/workflows/ci.yaml
  .github/workflows/e2e-tests.yaml
Labels: review-me, size:S

#1781 Routine security updates.
  .github/actions/pnpm-node-install/action.yaml
  frontend/package.json
  frontend/pnpm-lock.yaml
  libs/copilot/package.json
  libs/copilot/pnpm-lock.yaml
  libs/react-client/package.json
  libs/react-client/pnpm-lock.yaml
Labels: security, review-me, size:S

#1786 Wrap text content of AskActionButton
  frontend/src/components/chat/Messages/Message/AskActionButtons.tsx
Labels: frontend, size:XS

#1779 Willy/sidebar
  backend/chainlit/__init__.py
  backend/chainlit/discord/app.py
  backend/chainlit/element.py
  backend/chainlit/emitter.py
  backend/chainlit/server.py
  backend/chainlit/sidebar.py
  backend/chainlit/slack/app.py
  backend/chainlit/teams/app.py
  cypress/e2e/elements/.chainlit/config.toml
  cypress/e2e/sidebar/cat.jpeg
  cypress/e2e/sidebar/dummy.pdf
  cypress/e2e/sidebar/main.py
  cypress/e2e/sidebar/spec.cy.ts
  frontend/src/components/ElementSideView.tsx
  frontend/src/components/Elements/Text.tsx
  frontend/src/components/LeftSidebar/ThreadOptions.tsx
  frontend/src/components/ReadOnlyThread.tsx
  frontend/src/components/Tasklist/index.tsx
  frontend/src/components/chat/MessagesContainer/index.tsx
  frontend/src/pages/Page.tsx
  libs/copilot/src/components/ElementSideView.tsx
  libs/react-client/src/state.ts
  libs/react-client/src/useChatSession.ts
Labels: frontend, backend, size:XL

#1794 fix: add conflict strategy to create_element
  backend/chainlit/data/chainlit_data_layer.py
  backend/chainlit/element.py
Labels: data layer, backend, size:XS

#1784 feat: Add generic OAuth provider
  backend/chainlit/oauth_providers.py
Labels: enhancement, auth, size:M

#1769 Use ruff version from pyproject
  .github/workflows/lint-backend.yaml
  backend/poetry.lock
  backend/pyproject.toml
Labels: dev-tooling, review-me, size:XS

#1796 fix: correct translator path
  frontend/src/components/chat/index.tsx
Labels: frontend, size:XS

#1583 Move CONTRIBUTING.md to project root
  CONTRIBUTING.md
Labels: size:XS

#1800 chore: prepare release
  CHANGELOG.md
  backend/chainlit/__init__.py
  backend/chainlit/sidebar.py
  backend/chainlit/version.py
  backend/pyproject.toml
  cypress/e2e/sidebar/main.py
Labels: size:M

#1802 fix: sidebar flex grow
  backend/chainlit/auth/cookie.py
  frontend/src/components/ElementSideView.tsx
Labels: frontend, size:S

#1811 fix: auto focus chat input
  CHANGELOG.md
  backend/chainlit/version.py
  backend/pyproject.toml
  frontend/src/components/chat/MessageComposer/Input.tsx
  frontend/src/components/chat/Messages/Message/Content/index.tsx
  frontend/src/components/chat/Messages/Message/Step.tsx
Labels: frontend, size:M

#1814 chore: fix CONTRIBUTING link
  backend/README.md
Labels: size:XS

#1812 chore: add data layer telemetry
  CHANGELOG.md
  backend/chainlit/data/__init__.py
  backend/chainlit/version.py
  backend/pyproject.toml
  frontend/src/components/chat/Messages/Message/Step.tsx
Labels: data layer, size:S

#1736 feat: allow sending toast notifications
  backend/chainlit/emitter.py
  backend/chainlit/types.py
  backend/tests/test_emitter.py
  frontend/src/App.tsx
  frontend/vite.config.ts
  libs/react-client/package.json
  libs/react-client/pnpm-lock.yaml
  libs/react-client/src/useChatSession.ts
Labels: enhancement, frontend, size:M

#1791 Add Markdown Alert Component Support
  backend/chainlit/translations/bn.json
  backend/chainlit/translations/en-US.json
  backend/chainlit/translations/gu.json
  backend/chainlit/translations/he-IL.json
  backend/chainlit/translations/hi.json
  backend/chainlit/translations/ja.json
  backend/chainlit/translations/kn.json
  backend/chainlit/translations/ml.json
  backend/chainlit/translations/mr.json
  backend/chainlit/translations/nl-NL.json
  backend/chainlit/translations/ta.json
  backend/chainlit/translations/te.json
  backend/chainlit/translations/zh-CN.json
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/Markdown.tsx
  frontend/src/components/MarkdownAlert.tsx
Labels: frontend, size:L

#1808 feat: add theme selection and placeholder text in translations
  backend/chainlit/translations/bn.json
  backend/chainlit/translations/en-US.json
  backend/chainlit/translations/gu.json
  backend/chainlit/translations/he-IL.json
  backend/chainlit/translations/hi.json
  backend/chainlit/translations/ja.json
  backend/chainlit/translations/kn.json
  backend/chainlit/translations/ml.json
  backend/chainlit/translations/mr.json
  backend/chainlit/translations/nl-NL.json
  backend/chainlit/translations/ta.json
  backend/chainlit/translations/te.json
  backend/chainlit/translations/zh-CN.json
  frontend/src/components/LeftSidebar/Search.tsx
  frontend/src/components/header/ThemeToggle.tsx
  frontend/src/components/header/UserNav.tsx
Labels: enhancement, frontend, size:L

#1815 feat: add support for custom CSS styles in copilot
  libs/copilot/src/appWrapper.tsx
  libs/copilot/src/types.ts
  libs/copilot/src/widget.tsx
Labels: enhancement, size:S

#1825 fix: prevent chainlit sub app to default all endpoints
  backend/chainlit/server.py
  backend/chainlit/utils.py
Labels: bug, backend, size:M

#1834 chore: prepare release
  CHANGELOG.md
  backend/chainlit/version.py
  backend/pyproject.toml
Labels: size:S
