Repository Chainlit/chainlit, pull requests merged in 2025-04, with the labels that each got.

#2093 feat: add typed session accessors for user session management
  backend/chainlit/user_session.py
Labels: enhancement, backend, size:L

#2091 feature: allow set attributes for the tags of the custom_js or custom_css file
  backend/chainlit/config.py
  backend/chainlit/server.py
Labels: enhancement, backend, size:S

#2086 fix: GCS private key was in incorrect format
  CONTRIBUTING.md
  backend/chainlit/data/sql_alchemy.py
  backend/chainlit/data/storage_clients/gcs.py
Labels: auth, backend, size:S

#2038 feat: support additionalQueryParamsForAPI setting in copilot
  frontend/src/api/index.ts
  libs/copilot/src/api.ts
  libs/copilot/src/appWrapper.tsx
  libs/copilot/src/types.ts
  libs/react-client/src/api/index.tsx
Labels: enhancement, frontend, size:M

#2059 Add HeaderLink display_name
  backend/chainlit/config.py
  frontend/src/components/ButtonLink.tsx
  frontend/src/components/header/index.tsx
  libs/react-client/src/types/config.ts
Labels: frontend, size:S

#1975 Improve smooth scroll behavior to prevent button flickering
  frontend/src/components/chat/ScrollContainer.tsx
Labels: frontend, size:M

#2055 Feature: Add custom env file loading
  backend/chainlit/__init__.py
Labels: enhancement, backend, size:XS

#2105 feat: add the whole WSGI environ dict to the session
  CHANGELOG.md
  backend/chainlit/context.py
  backend/chainlit/data/storage_clients/gcs.py
  backend/chainlit/session.py
  backend/chainlit/socket.py
  backend/chainlit/user_session.py
  backend/tests/conftest.py
  backend/tests/test_user_session.py
Labels: enhancement, backend, size:L

#1953 feat: add cookie-based session affinity for Istio
  backend/chainlit/server.py
  backend/pyproject.toml
  backend/tests/test_server.py
  libs/react-client/src/useChatSession.ts
Labels: enhancement, backend, size:L

#2107 chore: prepare release
  CHANGELOG.md
  backend/chainlit/server.py
  backend/chainlit/version.py
  backend/pyproject.toml
  backend/tests/test_server.py
  frontend/src/components/LeftSidebar/ThreadList.tsx
  libs/react-client/src/api/index.tsx
  libs/react-client/src/types/config.ts
  libs/react-client/src/useChatSession.ts
Labels: size:L

#2109 fix: Fix display_name in header links
  backend/chainlit/config.py
Labels: backend, size:XS

#2115 fix: keep icon style when no display is set
  frontend/src/components/ButtonLink.tsx
Labels: frontend, size:XS

#2037 feat: Add config options to load avatar and logo from CDN URLs
  backend/chainlit/config.py
  frontend/src/components/Logo.tsx
  frontend/src/components/chat/Messages/Message/Avatar.tsx
  libs/react-client/src/api/index.tsx
  libs/react-client/src/types/config.ts
Labels: enhancement, frontend, backend, size:S

#2130 fix: issue #2084 fetching steps feedbacks in get_thread
  backend/chainlit/data/chainlit_data_layer.py
Labels: bug, data layer, size:S
