Repository Chainlit/chainlit, pull requests merged in 2025-10, with the labels that each got.

#2560 fix(copilot): Voice hotkey (P) incorrectly triggers when typing in chat input within Shadow DOM
  frontend/src/components/chat/MessageComposer/VoiceButton.tsx
Labels: bug, frontend, size:M

#2568 Configurable header_links target attribute
  backend/chainlit/config.py
  frontend/src/components/ButtonLink.tsx
  frontend/src/components/header/index.tsx
  libs/react-client/src/types/config.ts
Labels: enhancement, frontend, backend, size:S

#2570 ci: libs publishing workflow
  .github/actions/pnpm-node-install/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/copilot-setup-steps.yaml
  .github/workflows/e2e-tests.yaml
  .github/workflows/publish-libs.yaml
  .github/workflows/publish.yaml
  RELENG.md
  libs/react-client/package.json
  package.json
Labels: dev-tooling, size:M
