Repository Chainlit/chainlit, pull requests merged in 2025-03, with the labels that each got.

#1949 fix: Include element `props` in SQLAlchemyDataLayer query for elements
  backend/chainlit/data/sql_alchemy.py
Labels: data layer, size:S

#1955 fix: attempt to fix root path in docker
  backend/chainlit/cli/__init__.py
  backend/chainlit/server.py
Labels: bug, size:XS

#1958 fix: file extensions are now checked in lowercase for uploads
  backend/chainlit/server.py
Labels: backend, size:XS

#1956 fix: Fix Element mime type by fixing from_dict()
  backend/chainlit/element.py
Labels: bug, backend, size:XS

#1957 fix: When upload fail server side the error message was undefined front
  frontend/src/components/chat/Messages/Message/AskFileButton.tsx
  frontend/src/components/chat/index.tsx
  libs/react-client/src/api/index.tsx
Labels: frontend, size:S

#1908 fix: markdown alert syntax support with unsafe_allow_html = true
  frontend/src/components/Markdown.tsx
  frontend/src/components/MarkdownAlert.tsx
Labels: frontend, size:M

#1944 Upgrade aiofiles to 24.1.0
  backend/poetry.lock
  backend/pyproject.toml
Labels: size:XS

#1959 Fix: Ensure clear_auth_cookie uses the correct secure and samesite settings
  backend/chainlit/auth/cookie.py
Labels: auth, security, size:XS

#1960 fix: threadId assignment to first user message
  backend/chainlit/data/sql_alchemy.py
Labels: bug, data layer, size:XS

#1967 fix: Sort thread history groups in fixed order
  frontend/src/components/LeftSidebar/ThreadList.tsx
Labels: bug, frontend, size:L

#1968 fix: rootpath on docker
  backend/chainlit/cli/__init__.py
  backend/chainlit/server.py
  backend/chainlit/utils.py
  backend/poetry.lock
  backend/pyproject.toml
Labels: backend, size:S

#1910 chore(slack): Remove redundant thread ID generation
  backend/chainlit/slack/app.py
Labels: size:XS

#1969 feat: commands can now be buttons
  backend/chainlit/types.py
  cypress/e2e/command/main.py
  frontend/src/components/chat/MessageComposer/CommandButtons.tsx
  frontend/src/components/chat/MessageComposer/CommandPopoverButton.tsx
  frontend/src/components/chat/MessageComposer/Input.tsx
  frontend/src/components/chat/MessageComposer/index.tsx
  frontend/tsconfig.tsbuildinfo
  libs/react-client/src/types/command.ts
Labels: enhancement, frontend, size:M

#1970 Update README.md
  backend/README.md
Labels: size:XS

#1971 Update WaterMark.tsx
  frontend/src/components/WaterMark.tsx
Labels: frontend, size:XS

#1972 chore: update changelog
  CHANGELOG.md
  backend/chainlit/version.py
  backend/pyproject.toml
Labels: size:S

#1973 feat: New user messages are now placed/scrolled to the top of the cha…
  CHANGELOG.md
  frontend/src/components/chat/Messages/Message/index.tsx
  frontend/src/components/chat/ScrollContainer.tsx
Labels: enhancement, frontend, size:L

#1929 fix(react-client): Chat settings won't be resumed when resuming thread
  libs/react-client/src/useChatSession.ts
Labels: frontend, size:XS

#1976 chore: update changelog
  CHANGELOG.md
Labels: size:XS

#1964 feat: add mcp support
  .github/actions/poetry-python-install/action.yaml
  .github/workflows/pytest.yaml
  CHANGELOG.md
  CONTRIBUTING.md
  backend/chainlit/__init__.py
  backend/chainlit/auth/jwt.py
  backend/chainlit/callbacks.py
  backend/chainlit/config.py
  backend/chainlit/discord/app.py
  backend/chainlit/haystack/__init__.py
  backend/chainlit/haystack/callbacks.py
  backend/chainlit/input_widget.py
  backend/chainlit/mcp.py
  backend/chainlit/message.py
  backend/chainlit/server.py
  backend/chainlit/session.py
  backend/chainlit/slack/app.py
  backend/chainlit/socket.py
  backend/chainlit/step.py
  backend/chainlit/teams/app.py
  backend/chainlit/types.py
  backend/chainlit/version.py
  backend/poetry.lock
  backend/pyproject.toml
  frontend/.gitignore
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/ChatSettings/index.tsx
  frontend/src/components/LeftSidebar/ThreadOptions.tsx
  frontend/src/components/chat/MessageComposer/Mcp/AddForm.tsx
  frontend/src/components/chat/MessageComposer/Mcp/AnimatedPlugIcon.tsx
  frontend/src/components/chat/MessageComposer/Mcp/List.tsx
  frontend/src/components/chat/MessageComposer/Mcp/index.tsx
  frontend/src/components/chat/MessageComposer/index.tsx
  frontend/src/components/ui/tabs.tsx
  frontend/tsconfig.tsbuildinfo
  libs/react-client/src/api/index.tsx
  libs/react-client/src/state.ts
  libs/react-client/src/types/config.ts
  libs/react-client/src/types/index.ts
  libs/react-client/src/types/mcp.ts
  libs/react-client/src/useChatSession.ts
Labels: enhancement, frontend, backend, size:XL

#1977 feat: add mcp support (#1964)
  .github/actions/poetry-python-install/action.yaml
  .github/workflows/pytest.yaml
  CHANGELOG.md
  CONTRIBUTING.md
  backend/chainlit/__init__.py
  backend/chainlit/auth/jwt.py
  backend/chainlit/callbacks.py
  backend/chainlit/config.py
  backend/chainlit/discord/app.py
  backend/chainlit/haystack/__init__.py
  backend/chainlit/haystack/callbacks.py
  backend/chainlit/input_widget.py
  backend/chainlit/mcp.py
  backend/chainlit/message.py
  backend/chainlit/server.py
  backend/chainlit/session.py
  backend/chainlit/slack/app.py
  backend/chainlit/socket.py
  backend/chainlit/step.py
  backend/chainlit/teams/app.py
  backend/chainlit/types.py
  backend/chainlit/version.py
  backend/poetry.lock
  backend/pyproject.toml
  frontend/.gitignore
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/ChatSettings/index.tsx
  frontend/src/components/LeftSidebar/ThreadOptions.tsx
  frontend/src/components/chat/MessageComposer/Mcp/AddForm.tsx
  frontend/src/components/chat/MessageComposer/Mcp/AnimatedPlugIcon.tsx
  frontend/src/components/chat/MessageComposer/Mcp/List.tsx
  frontend/src/components/chat/MessageComposer/Mcp/index.tsx
  frontend/src/components/chat/MessageComposer/index.tsx
  frontend/src/components/ui/tabs.tsx
  frontend/tsconfig.tsbuildinfo
  libs/react-client/src/api/index.tsx
  libs/react-client/src/state.ts
  libs/react-client/src/types/config.ts
  libs/react-client/src/types/index.ts
  libs/react-client/src/types/mcp.ts
  libs/react-client/src/useChatSession.ts
Labels: size:XL

#1984 feat: allow uv commands for mcp
  CHANGELOG.md
  backend/chainlit/mcp.py
  backend/chainlit/server.py
  backend/chainlit/version.py
Labels: enhancement, backend, size:M

#1987 fix: oauth redirection with root path = '/'
  CHANGELOG.md
  backend/chainlit/server.py
Labels: auth, size:XS

#1988 Willy/fix ask display
  CHANGELOG.md
  backend/chainlit/message.py
  backend/chainlit/server.py
  backend/chainlit/types.py
  frontend/src/components/chat/Messages/Message/AskActionButtons.tsx
  frontend/src/components/chat/Messages/Message/AskFileButton.tsx
  frontend/src/components/chat/Messages/Message/index.tsx
  libs/react-client/src/types/file.ts
Labels: frontend, backend, size:M

#1978 Fix/initial scroll button visibility
  frontend/src/components/chat/ScrollContainer.tsx
Labels: frontend, size:S

#1993 fix: submounting chainlit app to fastapi app with root path
  CHANGELOG.md
  backend/chainlit/server.py
  backend/chainlit/utils.py
Labels: backend, size:S

#1994 feat: add feature flag for user message auto scroll
  CHANGELOG.md
  backend/chainlit/config.py
  frontend/src/components/chat/ScrollContainer.tsx
  frontend/src/components/chat/index.tsx
  libs/copilot/src/chat/body.tsx
  libs/react-client/src/types/config.ts
Labels: enhancement, frontend, size:M

#1989 feat(backend/mcp): Support set env vars from command line
  backend/chainlit/mcp.py
  backend/chainlit/server.py
Labels: backend, size:S

#1999 chore: prepare release
  CHANGELOG.md
  backend/chainlit/version.py
  backend/pyproject.toml
  frontend/package.json
  libs/copilot/package.json
  libs/react-client/package.json
Labels: size:S

#1963 Introducing the Semantic Kernel Filter
  backend/chainlit/__init__.py
  backend/chainlit/semantic_kernel/__init__.py
  backend/poetry.lock
  backend/pyproject.toml
Labels: backend, size:L

#2005 feat: Hide commands button if all commands are specified as button.
  CHANGELOG.md
  frontend/src/components/chat/MessageComposer/CommandPopoverButton.tsx
Labels: frontend, size:S

#2008 feat: support avatarName in step metadata to specify an avatar != ste…
  backend/chainlit/step.py
  frontend/src/components/chat/Messages/Message/index.tsx
Labels: enhancement, frontend, backend, size:XS

#2012 Fix: Chatsetting dialog padding is too small
  frontend/src/components/ChatSettings/index.tsx
Labels: frontend, size:XS

#2009 fix: chat_profiles model description
  frontend/src/components/header/ChatProfiles.tsx
Labels: frontend, size:XS

#2017 Fix: Resolve WebSocket connection error when deleting chat history
  frontend/src/components/LeftSidebar/ThreadList.tsx
Labels: bug, frontend, size:XS

#2018 Add a new field to allow commands to be persistent between messages
  backend/chainlit/types.py
  frontend/src/components/chat/MessageComposer/CommandButtons.tsx
  frontend/src/components/chat/MessageComposer/Input.tsx
  frontend/src/components/chat/MessageComposer/index.tsx
  frontend/src/state/chat.ts
  libs/react-client/src/types/command.ts
Labels: enhancement, frontend, backend, size:S

#1982 fix: backward compatible with sqlite+sqlalchemy
  backend/chainlit/socket.py
Labels: backend, size:XS

#2025 chore: prepare release
  CHANGELOG.md
  backend/chainlit/langchain/callbacks.py
  backend/chainlit/socket.py
  backend/chainlit/version.py
  backend/pyproject.toml
  frontend/src/components/CodeSnippet.tsx
  frontend/src/components/Elements/CustomElement/Imports.ts
  frontend/src/components/Elements/CustomElement/Renderer.tsx
  frontend/src/components/Elements/CustomElement/index.tsx
  frontend/src/components/Elements/Text.tsx
  frontend/src/components/Markdown.tsx
  frontend/src/components/chat/Messages/Message/Content/index.tsx
  frontend/src/components/chat/Messages/Message/index.tsx
  frontend/src/components/chat/ScrollContainer.tsx
  frontend/src/components/chat/WelcomeScreen.tsx
  frontend/src/components/header/ChatProfiles.tsx
  frontend/src/components/header/Readme.tsx
Labels: size:L

#2026 Added tags tracing on LangChain tracer
  backend/chainlit/langchain/callbacks.py
Labels: backend, size:XS

#2027 Willy/starter command
  backend/chainlit/session.py
  backend/chainlit/version.py
  backend/pyproject.toml
  frontend/src/components/chat/ScrollContainer.tsx
  frontend/src/components/chat/Starter.tsx
Labels: size:S

#2034 feat: rework sidebar to support canvas
  CHANGELOG.md
  backend/chainlit/data/literalai.py
  backend/chainlit/sidebar.py
  backend/tests/data/test_literalai.py
  frontend/src/components/ElementSideView.tsx
  frontend/src/components/Elements/CustomElement/index.tsx
  frontend/src/pages/Page.tsx
  libs/copilot/src/components/ElementSideView.tsx
  libs/react-client/src/state.ts
  libs/react-client/src/useChatSession.ts
Labels: frontend, backend, size:L

#2014 feat(mcp): Support custom cmd allow list for mcp server
  backend/chainlit/config.py
  backend/chainlit/mcp.py
  backend/chainlit/server.py
Labels: enhancement, backend, size:M

#2030 Fix Plotly width in #1919
  frontend/src/components/chat/Messages/Message/Content/InlinedElements/InlinedPlotlyList.tsx
Labels: frontend, size:XS

#2035 Fix: Images disappear after page reload when using AzureBlobStorageClient
  backend/chainlit/data/storage_clients/azure_blob.py
Labels: backend, size:XS

#2044 chore: release
  CHANGELOG.md
  backend/chainlit/config.py
  backend/chainlit/server.py
  backend/chainlit/version.py
  backend/pyproject.toml
Labels: size:S

#2049 fix: mcp enable check
  CHANGELOG.md
  backend/chainlit/config.py
  backend/chainlit/server.py
  backend/chainlit/version.py
  backend/pyproject.toml
  frontend/src/components/chat/MessageComposer/Mcp/AddForm.tsx
  frontend/src/components/chat/MessageComposer/Mcp/index.tsx
  libs/react-client/src/types/config.ts
Labels: frontend, backend, size:M

#2050 chore: bump literalai version
  backend/poetry.lock
  backend/pyproject.toml
Labels: size:XS

#2054 Rename nl-NL.json to nl.json
  backend/chainlit/translations/nl.json
Labels: size:XS

#2056 feat: add thinking token support to lc
  backend/chainlit/langchain/callbacks.py
Labels: backend, size:M

#2069 feat: add ids for most commonly customized ui elements
  frontend/src/components/LeftSidebar/Search.tsx
  frontend/src/components/LeftSidebar/ThreadHistory.tsx
  frontend/src/components/chat/MessageComposer/index.tsx
  frontend/src/components/chat/Starters.tsx
  frontend/src/components/chat/WelcomeScreen.tsx
  frontend/src/components/header/ApiKeys.tsx
  frontend/src/components/header/SidebarTrigger.tsx
  frontend/src/components/header/UserNav.tsx
Labels: frontend, size:S

#2068 fix: flickering on app start
  frontend/src/App.tsx
  frontend/src/components/chat/Messages/index.tsx
Labels: frontend, size:S

#2065 feature: add configuration option for default sidebar state
  backend/chainlit/config.py
  frontend/src/pages/Page.tsx
  libs/react-client/src/types/config.ts
Labels: enhancement, frontend, backend, size:XS

#2067 Fix File Icons
  frontend/src/components/chat/MessageComposer/Attachment.tsx
Labels: frontend, size:XS

#1885 feat: Add custom login background image and filter
  backend/chainlit/auth/__init__.py
  backend/chainlit/config.py
  frontend/src/pages/Login.tsx
  frontend/tailwind.config.js
  libs/react-client/src/types/config.ts
Labels: enhancement, frontend, auth, size:L

#2072 Remove insertText command to prevent duplicate pasting
  frontend/src/components/chat/MessageComposer/Input.tsx
Labels: frontend, size:XS

#2075 Willy/fix paste undo
  frontend/src/components/chat/MessageComposer/Attachment.tsx
  frontend/src/components/chat/MessageComposer/Input.tsx
Labels: frontend, size:M

#2076 feat: add on_app_startup and on_app_shutdown cbs
  backend/chainlit/__init__.py
  backend/chainlit/callbacks.py
  backend/chainlit/config.py
  backend/chainlit/server.py
  backend/tests/test_callbacks.py
Labels: enhancement, backend, size:L

#2077 chore: prepare release
  CHANGELOG.md
  backend/chainlit/version.py
  backend/pyproject.toml
Labels: size:S
