Repository Chainlit/chainlit, pull requests merged in 2025-08, with the labels that each got.

#2211 fix: proper inputs & outputs serialization for Literal AI in LangChain callbacks
  backend/chainlit/langchain/callbacks.py
Labels: backend, size:M

#2271 feat: configuration for expanded copilot mode
  libs/copilot/src/types.ts
  libs/copilot/src/widget.tsx
Labels: size:XS

#2344 ci: fail job if e2e tests fail
  .github/workflows/e2e-tests.yaml
Labels: dev-tooling, size:XS

#2345 ci: bring back pnpm cache
  .github/actions/pnpm-node-install/action.yaml
Labels: dev-tooling, size:S

#2348 chore: upgrade dependencies to address security vulnerabilities in them
  CONTRIBUTING.md
  backend/poetry.lock
  backend/pyproject.toml
  frontend/index.html
  frontend/package.json
  frontend/pnpm-lock.yaml
  libs/copilot/package.json
  libs/copilot/pnpm-lock.yaml
  libs/react-client/pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: security, size:S

#2349 feat: enable gzip compression for frontend
  backend/chainlit/server.py
Labels: backend, size:XS

#2350 fix: properly escape html on paste
  frontend/src/components/chat/MessageComposer/Input.tsx
Labels: frontend, size:XS

#2351 chore: release
  CHANGELOG.md
  backend/chainlit/version.py
  backend/pyproject.toml
  pnpm-lock.yaml
Labels: size:S

#2352 test: restore temporarily skipped test
  cypress/e2e/data_layer/spec.cy.ts
Labels: data layer, size:XS

#2356 fix: use built-in html unescaping to send html to the server
  frontend/src/components/chat/MessageComposer/Input.tsx
Labels: frontend, size:M

#2353 feat: copy both plain text and rich text to clipboard, if available
  frontend/src/components/CopyButton.tsx
  frontend/src/components/chat/Messages/Message/Buttons/index.tsx
  frontend/src/components/chat/Messages/Message/Content/index.tsx
  frontend/src/components/chat/Messages/Message/index.tsx
Labels: frontend, size:L

#2224 fix: properly parse user_env when `config.project.user_env` is empty
  backend/chainlit/socket.py
Labels: backend, size:S

#2369 refactor: remove unused font_family from configuration
  backend/chainlit/config.py
  libs/react-client/src/types/config.ts
Labels: frontend, size:XS

#2370 test: return meaningful configs to e2e tests
  .gitignore
  cypress/e2e/custom_build/.chainlit/config.toml
  cypress/e2e/custom_build/.gitignore
  cypress/e2e/user_env/.chainlit/config.toml
  cypress/e2e/user_env/.gitignore
Labels: dev-tooling, size:L

#2371 fix: preserve new lines and indentation on paste
  frontend/src/components/chat/MessageComposer/Input.tsx
Labels: frontend, size:XS

#2373 chore: release
  CHANGELOG.md
  backend/chainlit/version.py
  backend/pyproject.toml
Labels: size:XS

#2377 ci: properly propagate failure
  .github/workflows/ci.yaml
Labels: dev-tooling, size:XS

#2381 Revert "fix: preserve line breaks in received messages (#2372)"
  frontend/src/components/Markdown.tsx
Labels: frontend, size:XS

#2392 feat: add threadId for user feedbacks sent from Slack
  backend/chainlit/slack/app.py
Labels: backend, size:XS

#2398 feat: bring back blinking cursor indicating activity
  cypress/e2e/blinking_cursor/main.py
  cypress/e2e/blinking_cursor/spec.cy.ts
  frontend/src/components/chat/Messages/index.tsx
Labels: frontend, size:M

#2394 fix: disable gzip for websocket-related http endpoints due to bug in Safari
  backend/chainlit/server.py
Labels: backend, size:S

#2205 fix: prevent constant refresh on the Login page
  frontend/src/components/LoginForm.tsx
  frontend/src/pages/Login.tsx
  libs/react-client/src/api/hooks/auth/userManagement.ts
Labels: frontend, auth, size:S

#2406 fix: type hint for mcp functions
  backend/chainlit/callbacks.py
Labels: size:XS

#2411 Add copilot-setup-steps.yaml GitHub workflow for GitHub Copilot coding agent
  .github/workflows/copilot-setup-steps.yaml
Labels: dev-tooling, size:M

#1911 fix: AskFileButton can now upload file with proper checking and it's own limits
  backend/chainlit/emitter.py
  backend/chainlit/server.py
  backend/chainlit/session.py
  backend/tests/conftest.py
  backend/tests/test_server.py
  cypress/e2e/ask_file/main.py
  cypress/e2e/ask_multiple_files/main.py
  frontend/src/components/chat/Messages/Message/AskFileButton.tsx
  frontend/src/components/chat/MessagesContainer/index.tsx
  libs/react-client/src/api/index.tsx
  libs/react-client/src/useChatInteract.ts
Labels: frontend, backend, size:L

#2404 fix: changed thread sorting to use updated time instead of creation time
  backend/chainlit/data/chainlit_data_layer.py
  backend/chainlit/data/sql_alchemy.py
Labels: data layer, backend, size:M

#2405 fix: added content-disposition metadata to azure blob uploads to persist download file name
  backend/chainlit/data/chainlit_data_layer.py
  backend/chainlit/data/storage_clients/azure.py
  backend/chainlit/data/storage_clients/azure_blob.py
  backend/chainlit/data/storage_clients/base.py
  backend/chainlit/data/storage_clients/gcs.py
  backend/chainlit/data/storage_clients/s3.py
Labels: data layer, backend, size:M

#2393 Rewrite chat input to use textarea and ChatGPT-style command selection (fixes inline command bugs)
  cypress/e2e/command/main.py
  cypress/e2e/command/spec.cy.ts
  cypress/e2e/copilot/spec.cy.ts
  cypress/support/testUtils.ts
  frontend/src/components/AutoResizeTextarea.tsx
  frontend/src/components/chat/MessageComposer/CommandButtons.tsx
  frontend/src/components/chat/MessageComposer/CommandPopoverButton.tsx
  frontend/src/components/chat/MessageComposer/Input.tsx
  frontend/src/components/chat/MessageComposer/index.tsx
  frontend/src/components/ui/command.tsx
  frontend/src/components/ui/tooltip.tsx
  frontend/src/hooks/useCommandNavigation.tsx
  frontend/src/index.css
  frontend/tailwind.config.js
Labels: frontend, size:XXL

#2417 Add missing headers when connecting Streamable HTTP MCP
  frontend/src/api/index.ts
Labels: frontend, size:S

#2403 feat(auth): update require_login to check for CHAINLIT_AUTH_SECRET environment variable instead of CHAINLIT_CUSTOM_AUTH
  backend/chainlit/auth/__init__.py
  backend/chainlit/cli/__init__.py
  cypress/e2e/chat_profiles/main.py
  cypress/e2e/config_overrides/main.py
  cypress/e2e/custom_data_layer/sql_alchemy.py
  cypress/e2e/data_layer/main.py
  cypress/e2e/header_auth/main.py
  cypress/e2e/password_auth/main.py
Labels: auth, size:S

#2427 fix: revert breaking change of custom auth
  backend/chainlit/auth/__init__.py
Labels: auth, size:XS

#2431 chore: release
  CHANGELOG.md
  backend/chainlit/version.py
  backend/pyproject.toml
Labels: size:XS

#2446 Add maintainers as CodeOwners
  .github/CODEOWNERS
Labels: size:XS

#2444 feat: add Traditional Chinese (Taiwan) translations
  backend/chainlit/translations/zh-TW.json
Labels: size:L

#2453 Default to plaintext code blocks for unsupported languages
  frontend/src/components/CodeSnippet.tsx
Labels: frontend, size:XS

#2456 Add a second optional language parameter to set_starters
  backend/chainlit/callbacks.py
  backend/chainlit/config.py
  backend/chainlit/server.py
  backend/tests/test_callbacks.py
Labels: backend, size:M

#2458 feat: add Spanish translation file
  backend/chainlit/translations/es.json
Labels: backend, size:L

#2468 fix: Replace hardcoded strings with translation keys
  backend/chainlit/translations/bn.json
  backend/chainlit/translations/el-GR.json
  backend/chainlit/translations/en-US.json
  backend/chainlit/translations/es.json
  backend/chainlit/translations/fr-FR.json
  backend/chainlit/translations/gu.json
  backend/chainlit/translations/he-IL.json
  backend/chainlit/translations/hi.json
  backend/chainlit/translations/ja.json
  backend/chainlit/translations/kn.json
  backend/chainlit/translations/ml.json
  backend/chainlit/translations/mr.json
  backend/chainlit/translations/nl.json
  backend/chainlit/translations/ta.json
  backend/chainlit/translations/te.json
  backend/chainlit/translations/zh-CN.json
  backend/chainlit/translations/zh-TW.json
  frontend/src/components/ChatSettings/index.tsx
  frontend/src/components/LoginForm.tsx
  frontend/src/components/chat/MessageComposer/Attachments.tsx
  frontend/src/components/chat/Messages/Message/Buttons/FeedbackButtons.tsx
Labels: frontend, size:L

#2459 feat: Allow sending commands from custom elements
  cypress/e2e/custom_element_command/main.py
  cypress/e2e/custom_element_command/public/elements/Commander.jsx
  cypress/e2e/custom_element_command/spec.cy.ts
  frontend/src/components/Elements/CustomElement/Renderer.tsx
  frontend/src/components/Elements/CustomElement/index.tsx
Labels: frontend, size:M
