Repository Chainlit/chainlit, pull requests merged in 2025-02, with the labels that each got.

#1842 fix: reintroduce including URL location after UI refactor
  frontend/src/components/chat/MessageComposer/index.tsx
  frontend/src/components/chat/Starter.tsx
Labels: frontend, size:XS

#1838 fix: ensure SAS token start time is set to UTC
  backend/chainlit/data/storage_clients/azure_blob.py
Labels: backend, size:XS

#1840 Fix: prevent showing 0's on resumed thread if AskAction/File was used
  frontend/src/components/chat/Messages/Message/index.tsx
Labels: frontend, size:XS

#1839 Remove 22px element ref height
  frontend/src/components/Elements/ElementRef.tsx
Labels: frontend, size:XS

#1846 Update offline_access scope to be fully qualified with the prefix
  backend/chainlit/oauth_providers.py
Labels: auth, size:XS

#1850 chore: release
  CHANGELOG.md
  backend/chainlit/version.py
  backend/pyproject.toml
Labels: size:S

#1852 fix: disable submit button when input is empty
  frontend/src/components/chat/MessageComposer/index.tsx
Labels: frontend, size:XS

#1855 fix: paste html
  frontend/src/components/chat/MessageComposer/Input.tsx
Labels: frontend, size:S

#1856 chore: allow chainlit to be built as dependencies
  frontend/tsconfig.json
Labels: size:XS

#1763 fix: resolve React warnings and accessibility issues
  cypress/e2e/command/spec.cy.ts
  frontend/src/App.tsx
  frontend/src/components/LeftSidebar/Search.tsx
  frontend/src/components/LeftSidebar/ThreadOptions.tsx
  frontend/src/components/Markdown.tsx
  frontend/src/components/chat/Messages/Message/Content/index.tsx
  frontend/src/components/chat/Messages/index.tsx
  frontend/src/components/header/ChatProfiles.tsx
Labels: frontend, review-me, size:M

#1857 chore: allow react-client to be built as dependencies
  libs/react-client/package.json
  libs/react-client/tsconfig.build.json
  libs/react-client/tsconfig.json
Labels: size:S

#1859 fix: pass running to message context
  backend/chainlit/element.py
  frontend/src/App.tsx
  frontend/src/components/Elements/Image.tsx
  frontend/src/components/QuiltedGrid.tsx
  frontend/src/components/chat/MessageComposer/Attachment.tsx
  frontend/src/components/chat/Messages/Message/Content/InlinedElements/InlinedPDFList.tsx
  frontend/src/components/chat/Messages/Message/Content/InlinedElements/index.tsx
  frontend/src/components/chat/Messages/Message/UserMessage.tsx
  frontend/src/components/chat/Messages/Message/index.tsx
  frontend/src/components/chat/MessagesContainer/index.tsx
Labels: frontend, size:L

#1824 Replace command filter from startsWith to includes
  frontend/src/components/chat/MessageComposer/Input.tsx
Labels: frontend, size:S

#1864 chore: prepare release
  CHANGELOG.md
  backend/chainlit/version.py
  backend/pyproject.toml
Labels: size:S

#1865 chore: remove github config not used
  backend/chainlit/config.py
  backend/chainlit/server.py
Labels: size:XS

#1869 Revert oauth_providers.py by removing prefix in offline_access
  backend/chainlit/oauth_providers.py
Labels: auth, size:XS

#1874 fix: use accordion for steps and fix streaming auto scroll
  cypress/e2e/remove_elements/spec.cy.ts
  cypress/e2e/streaming/spec.cy.ts
  cypress/e2e/update_step/spec.cy.ts
  frontend/src/components/CodeSnippet.tsx
  frontend/src/components/MarkdownAlert.tsx
  frontend/src/components/ReadOnlyThread.tsx
  frontend/src/components/chat/Footer.tsx
  frontend/src/components/chat/MessageComposer/index.tsx
  frontend/src/components/chat/Messages/Message/Content/index.tsx
  frontend/src/components/chat/Messages/Message/Step.tsx
  frontend/src/components/chat/Messages/Message/UserMessage.tsx
  frontend/src/components/chat/MessagesContainer/index.tsx
  frontend/src/components/chat/ScrollContainer.tsx
  frontend/src/components/chat/WelcomeScreen.tsx
  frontend/src/components/chat/index.tsx
  frontend/src/contexts/MessageContext.tsx
  frontend/src/types/messageContext.ts
  libs/copilot/src/chat/body.tsx
Labels: frontend, size:L

#1836 feat: support adding custom links on the nav header
  backend/chainlit/config.py
  frontend/src/components/ButtonLink.tsx
  frontend/src/components/header/index.tsx
  libs/react-client/src/types/config.ts
Labels: enhancement, frontend, backend, size:M

#1877 chore: prepare release
  CHANGELOG.md
  backend/chainlit/version.py
  backend/pyproject.toml
Labels: size:S

#1879 feat: add default_open to step class
  backend/chainlit/step.py
  frontend/src/components/chat/Messages/Message/Step.tsx
  frontend/src/components/header/index.tsx
  libs/react-client/src/types/config.ts
  libs/react-client/src/types/step.ts
Labels: enhancement, size:S

#1880 fix: starter should be disabled if no ws connection
  frontend/src/components/chat/Starter.tsx
Labels: frontend, size:XS

#1884 fix: set defaultSize equal to minSize in ResizablePanel to avoid warning
  frontend/src/pages/Page.tsx
Labels: frontend, size:XS

#1883 fix: prevent orphaned thread record when deleting active conversation
  frontend/src/components/LeftSidebar/ThreadList.tsx
Labels: frontend, size:S

#1888 fix: Remove unnecessary 'use client' directives to fix sourcemap errors
  frontend/src/components/chat/Messages/Message/Buttons/FeedbackButtons.tsx
  frontend/src/components/ui/dialog.tsx
  frontend/src/components/ui/sheet.tsx
Labels: frontend, size:XS

#1891 fix: input should not replace <,>,&
  frontend/src/components/chat/MessageComposer/Input.tsx
Labels: frontend, size:XS

#1899 chore: prepare release
  CHANGELOG.md
  backend/chainlit/version.py
  backend/pyproject.toml
Labels: size:S

#1902 fix: add key prop to ButtonLink components in header
  frontend/src/components/header/index.tsx
Labels: frontend, size:XS

#1909 fix: allow setting custom cookie name via env var
  backend/chainlit/auth/cookie.py
Labels: auth, size:XS
