Repository Chainlit/chainlit, pull requests merged in 2025-07, with the labels that each got.

#2194 fix(ui): adding container prop to select portal (Render the ChatProfiles Portal Inside Copilot's Shadow DOM) (closes #1918)
  frontend/src/components/ui/select.tsx
Labels: frontend, size:XS

#2212 feat: Added ADC support for google cloud storage adapter
  backend/chainlit/data/__init__.py
  backend/chainlit/data/storage_clients/gcs.py
  backend/pyproject.toml
Labels: auth, backend, size:M

#2176 fix: include mime in element
  backend/chainlit/emitter.py
Labels: backend, size:XS

#2168 Collapse command buttons to icons for small screens
  frontend/src/components/chat/MessageComposer/CommandButtons.tsx
Labels: frontend, size:S

#2233 feat: s3 url should not be hard coded, when using localstack s3
  backend/chainlit/data/storage_clients/s3.py
Labels: backend, size:XS

#1900 feat: Add MarkdownAlert Style Switcher
  backend/chainlit/config.py
  frontend/src/components/MarkdownAlert.tsx
  libs/react-client/src/types/config.ts
Labels: frontend, size:L

#2171 fix: only update metadata field when not None to prevent overwriting with {}
  backend/chainlit/data/chainlit_data_layer.py
Labels: data layer, size:XS

#2246 fix: Input Spacing
  frontend/src/components/chat/MessageComposer/Input.tsx
Labels: frontend, size:S

#2244 feat: Add Python 3.13 to CI Matrix
  .github/workflows/pytest.yaml
  backend/poetry.lock
  backend/pyproject.toml
Labels: size:XS

#2245 feat: Reduce LiteralAI dependencies
  backend/chainlit/emitter.py
  backend/chainlit/langchain/callbacks.py
  backend/chainlit/llama_index/callbacks.py
  backend/chainlit/message.py
  backend/chainlit/mistralai/__init__.py
  backend/chainlit/openai/__init__.py
  backend/chainlit/step.py
  backend/chainlit/utils.py
  backend/poetry.lock
  cypress/e2e/data_layer/main.py
Labels: backend, size:M

#2256 chore: prepare release
  CHANGELOG.md
  RELENG.md
  backend/chainlit/config.py
  backend/chainlit/version.py
  backend/pyproject.toml
Labels: size:M

#2260 Update MessageComposer/Input.tsx
  frontend/src/components/chat/MessageComposer/Input.tsx
Labels: frontend, size:S

#2265 Import timestamp_utc from chainlit.utils
  backend/chainlit/mistralai/__init__.py
  backend/chainlit/openai/__init__.py
Labels: backend, size:XS

#2266 Allow more than 4 starters via cl.ChatProfile
  frontend/src/components/chat/Starters.tsx
Labels: frontend, size:XS

#2276 feat: Add workflow to close old Issues/PRs
  .github/workflows/close_stale.yml
Labels: dev-tooling, size:S

#2279 Feature: Add `on_feedback` callback
  backend/chainlit/__init__.py
  backend/chainlit/callbacks.py
  backend/chainlit/config.py
  backend/chainlit/server.py
Labels: enhancement, backend, size:M

#2143 fix: Return GCS signed URL instead of direct URL
  CONTRIBUTING.md
  backend/chainlit/data/storage_clients/gcs.py
  backend/tests/data/storage_clients/test_gcs.py
Labels: backend, security, size:L

#2281 Remove Telemetry
  backend/chainlit/action.py
  backend/chainlit/callbacks.py
  backend/chainlit/cli/__init__.py
  backend/chainlit/config.py
  backend/chainlit/data/__init__.py
  backend/chainlit/discord/app.py
  backend/chainlit/element.py
  backend/chainlit/langflow/__init__.py
  backend/chainlit/message.py
  backend/chainlit/slack/app.py
  backend/chainlit/socket.py
  backend/chainlit/step.py
  backend/chainlit/teams/app.py
  backend/chainlit/telemetry.py
  backend/poetry.lock
  backend/pyproject.toml
Labels: backend, size:L

#2291 refactor: unify portals (dialogs) rendering in Copilot
  frontend/src/components/ui/alert-dialog.tsx
  frontend/src/components/ui/dialog.tsx
  frontend/src/components/ui/dropdown-menu.tsx
  frontend/src/components/ui/popover.tsx
  frontend/src/components/ui/select.tsx
  frontend/src/components/ui/sheet.tsx
Labels: frontend, size:M

#2257 chore: upgrade poetry, node, pnpm & enable corepack support
  .github/actions/pnpm-node-install/action.yaml
  .github/actions/poetry-python-install/action.yaml
  CONTRIBUTING.md
  backend/pyproject.toml
  cypress/support/run.ts
  lint-staged.config.js
  package.json
Labels: dev-tooling, size:M

#2294 chore: release
  CHANGELOG.md
  backend/chainlit/version.py
  backend/pyproject.toml
Labels: size:S

#2295 ci: fix publish workflow
  .github/workflows/publish.yaml
Labels: size:XS

#2166 feat : Added ability to send empty commands
  frontend/src/components/chat/MessageComposer/index.tsx
Labels: enhancement, frontend, size:XS

#2297 fix(server): follow the BCP 47 standard for the length of localization names
  backend/chainlit/server.py
Labels: backend, size:XS

#2306 fix(markdown): encode parentheses in link targets for valid rendering
  frontend/src/lib/message.ts
Labels: frontend, size:XS

#2293 fix: postgres query syntax error in data_layer
  backend/chainlit/data/chainlit_data_layer.py
Labels: bug, data layer, size:S

#2208 fix: generate signed url when loading elements from dynamodb datalayer
  backend/chainlit/data/dynamodb.py
Labels: data layer, backend, size:XS

#2170 fix(data-layer): add graceful shutdown handlers for DB connection cleanup
  backend/chainlit/data/chainlit_data_layer.py
Labels: data layer, backend, size:M

#2207 feat: update cookie path handling to use environment variable
  backend/chainlit/auth/cookie.py
Labels: auth, backend, size:XS

#2152 mod(sql_alchemy.py): support for additional connection arguments such…
  backend/chainlit/data/sql_alchemy.py
Labels: data layer, backend, size:XS

#2191 fix: handle list token in LangChain callback on_llm_new_token to prevent AttributeError
  backend/chainlit/langchain/callbacks.py
Labels: backend, size:S

#2312 feat: remove Watermark
  backend/chainlit/data/sql_alchemy.py
  backend/chainlit/translations/bn.json
  backend/chainlit/translations/en-US.json
  backend/chainlit/translations/gu.json
  backend/chainlit/translations/he-IL.json
  backend/chainlit/translations/hi.json
  backend/chainlit/translations/ja.json
  backend/chainlit/translations/kn.json
  backend/chainlit/translations/ml.json
  backend/chainlit/translations/mr.json
  backend/chainlit/translations/nl.json
  backend/chainlit/translations/ta.json
  backend/chainlit/translations/te.json
  backend/chainlit/translations/zh-CN.json
  frontend/src/components/WaterMark.tsx
Labels: frontend, size:M

#2316 feat: remove watermark logo
  backend/chainlit/translations/en-US.json
  frontend/src/components/WaterMark.tsx
Labels: frontend, size:S

#2267 fix: preserve formatting and special characters in pasted content
  frontend/src/components/chat/MessageComposer/Input.tsx
Labels: frontend, size:M

#2319 test: fix failing e2e test
  cypress/support/testUtils.ts
Labels: size:XS

#2320 chore: format missed file
  backend/chainlit/data/chainlit_data_layer.py
Labels: size:S

#2321 Update close_stale.yml
  .github/workflows/close_stale.yml
Labels: size:XS

#2299 feat(copilot): implement copilot thread persistence
  cypress/e2e/copilot/spec.cy.ts
  cypress/support/testUtils.ts
  frontend/src/components/header/NewChat.tsx
  libs/copilot/index.tsx
  libs/copilot/src/app.tsx
  libs/copilot/src/chat/body.tsx
  libs/copilot/src/chat/index.tsx
  libs/copilot/src/components/Header.tsx
  libs/copilot/src/hooks/index.ts
  libs/copilot/src/hooks/useCopilotInteract.ts
  libs/copilot/src/state.ts
  libs/copilot/src/widget.tsx
Labels: frontend, size:L
